{% extends "base.html" %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site_javascript_folder }}/flexigrid/css/flexigrid/flexigrid.css" />
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        vertical-align: text-top;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        vertical-align: text-top;
        -moz-border-radius: ;
    }
    </style>

{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ site_javascript_folder }}flexigrid/flexigrid.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#show_all').click( function() {
                $('#toggle_show').show(); // Non-rep data is shown by default
                $('#toggle_hide').hide(); // Non-rep data is shown by default
                $('#all_records_wrapper').show();
                $('#all_records_content').load('{% url all_records case.patient.pk %}', function() {
                    $('#all_lab_results').flexigrid({
                        title: 'Laboratory Results',
                        resizable: true,
                        rp: 15,
                    });
                    $('#all_encounters').flexigrid({
                        title: 'Physician Encounters',
                        resizable: true,
                        rp: 10,
                    });
                    $('#all_prescriptions').flexigrid({
                        title: 'Prescriptions',
                        resizable: true,
                        rp: 10,
                    });
                    $('#all_immunizations').flexigrid({
                        title: 'Immunizations',
                        resizable: true,
                        rp: 10,
                    });
                });
            });
            $('#hide_all').click( function() {
                $('#toggle_show').hide(); // Non-rep data is shown by default
                $('#toggle_hide').show(); // Non-rep data is shown by default
                $('#all_records_wrapper').hide();
            });
            $('#hide_all').click(); // Hide non-reportable data by default
        });
    </script>
{% endblock %}

{% block content %}


{# Do we need this? #}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<p id="suspected_condition">
    Suspected Condition: <strong>{{ condition }}</strong>
</p>

<hr>

<p id="toggle_hide">
    <a href="#" id="show_all">Show All Patient Records</a>
    |
    <b>Hide All Patient Records</b>
</p>
<p id="toggle_show">
    <b>Show All Patient Records</b>
    |
    <a href="#" id="hide_all">Hide All Patient Records</a>
</p>

<h2>
    Patient Information
</h2>

<table id="patient_info">
    <tr>
        <th>DB ID #</th>
        {% if perms.nodis.view_phi %}
        <th>Patient Name</th>
	    <th>Medical Record Number</th>
        <th>Date of Birth</th>
        <th>Age</th>
        {% else %}
        <th>Age</th>
        {% endif %}
        <th>Center</th>
        <th>Gender</th>
        <th>Pregnancy</th>
        <th>Case Status</th>
        <th>Created Date</th>
        <th>Last Updated</th>
        <th>Case Definition</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>{{ case.patient.pk }}</td>
        {% if perms.nodis.view_phi %}
        <td>{{ case.patient.name }}</td>
        <td>{{ case.patient.mrn }}</td>
        </td> 
        <td>{{ dob }}</td>
        <td>{{ age }}</td>
       </td>
        {% else %}
        <td>{{ age }}</td>
        {% endif %}
        <td>{{ case.patient.center_id }}</td>
        <td>{{ case.patient.gender }}</td>
        <td>{{ case.pregnant|default:"-" }}</td>
        <td>{{ case.get_status_display }}</td>
        <td>{{ created }}</td>
        <td> {{ updated }}</td>
        <td>{{ case.definition }}</td>
        <td> {{ case.comments|default:"-" }}</td>
    </tr>
</table>

<h2>
    Case Criteria
</h2>

<p>
    {{ case.criteria }}
</p>


<h2>
    Case Components
</h2>

{% if case.lab_results.count %}

<h3>
    Lab Results
</h3>

<table id="lab_results">
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Order Date</th>
        <th>Result Date</th>
        <th>Test Code (native)</th>
        <th>Test Name (native)</th>
        <th>Test Results</th>
        <th>Abnormal Flag</th>
        <th>Normal Range</th>
        <th>OrderID</th>
        <th>Clinician</th>
        <th>Comment</th>
    </tr>
    {% for lab in case.lab_results.all %}
    <tr>
        <td>{{ lab.pk }}</td>
        <td>
            {% for event in lab.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ lab.date }}</td>
        <td>{{ lab.result_date }}</td>
        <td>{{ lab.native_code }}</td>
        <td>{{ lab.native_name }}</td>
        <td>{{ lab.result_string }}</td>
        <td>{{ lab.abnormal_flag|default:"-" }} </td>
        <td>{{ lab.ref_low_string|default:"" }}  -  {{ lab.ref_high_string|default:"" }}</td>
        <td>{{ lab.order_num }}</td>
        <td>
            <a href="{% url provider_detail lab.provider.pk %}">
                {{ lab.provider.name }}
            </a>
        </td>
        <td>
            {{ lab.comment }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if case.encounters.count %}
<h3>
    Physician Encounters
</h3>

<table id="encounters">
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Date</th>
        <th>Dx Codes</td>
        <th>Site</td>
        <th>Pregnancy</th>
        <th>Temperature</th>
        <th>Clinician</th>
    </tr>
    {% for enc in case.encounters.all %}
    <tr>
        <td>{{ enc.pk }}</td>
        <td>
            {% for event in enc.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ enc.date }} </td>
        <td>
            {% for i in enc.dx_codes.all %}
                {{ i.code }} {{ i.name }}
                {% if not forloop.last %}
                <br>
                {% endif %}
            {% empty %}
                -
            {% endfor %}
        </td>
        <td>{{ enc.site_name }}</td>
        <td>
            {{ enc.pregnancy_status }}
            {% if enc.pregnancy_status  %}
            <hr>
            EDC: {{enc.edc}}
            {% endif %}
        </td>
        <td>{{ enc.temperature }}</td>
        <td>
            <a href="{% url provider_detail enc.provider.pk %}">
            {{enc.provider.name}}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if case.prescriptions.count %}
<h3>
    Prescriptions
</h3>

<table id="prescriptions">
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Route</th>
        <th>Dose</th>
        <th>Frequency</th>
        <th>Quantity</th>
        <th>NDC</th>
        <th>Clinician</th>
    </tr>
    {% for rx in case.prescriptions %}
    <tr>
        <td>{{ rx.pk }}</td>
        <td>
            {% for event in rx.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ rx.date }}</td>
        <td>{{ rx.name }}</td>
        <td>{{ rx.directions }}</td>
        <td>{{ rx.route }}</td>
        <td>{{ rx.dose }}</td>
        <td>{{ rx.frequency }}
        <td>{{ rx.quantity }}</td>
        <td>{{rx.code}}</td>
        <td>
            <a href="{% url provider_detail rx.provider.pk %}">
                {{ rx.provider.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if case.past_events.count %}
<h3>
    Past Events
</h3>

<table id="past_events">
    <tr>
        <th>Event ID #
        <th>Name
        <th>Date
        <th>Content
    {% for event in case.past_events.all %}
    <tr>
        <td>{{ event.pk }}
        <td>{{ event.name }}
        <td>{{ event.date }}
        <td>{{ event.content_object }}
    {% endfor %}
</table>
{% endif %}

{% if case.condition_config  %}
{% if case.reportable_labs  %}
<h3>
    Related Labs
</h3>

<table id="lab_results">
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Order Date</th>
        <th>Result Date</th>
        <th>Test Code (native)</th>
        <th>Test Name (native)</th>
        <th>Test Results</th>
        <th>Abnormal Flag</th>
        <th>Normal Range</th>
        <th>OrderID</th>
        <th>Clinician</th>
        <th>Comment</th>
    </tr>
    {% for lab in case.reportable_labs.all %}
    {% if lab not in case.lab_results %}
    <tr>
        <td>{{ lab.pk }}</td>
        <td>
            {% for event in lab.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ lab.date }}</td>
        <td>{{ lab.result_date }}</td>
        <td>{{ lab.native_code }}</td>
        <td>{{ lab.native_name }}</td>
        <td>{{ lab.result_string }}</td>
        <td>{{ lab.abnormal_flag|default:"-" }} </td>
        <td>{{ lab.ref_low_string|default:"" }}  -  {{ lab.ref_high_string|default:"" }}</td>
        <td>{{ lab.order_num }}</td>
        <td>
            <a href="{% url provider_detail lab.provider.pk %}">
                {{ lab.provider.name }}
            </a>
        </td>
        <td>
            {{ lab.comment }}
        </td>
    </tr>
     {% endif %}
    {% endfor %}
</table>
{% endif %}


{% if case.reportable_encounters.0.count %}
<h3>
    Related Physicians Encounters
</h3>

<table id="encounters">
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Date</th>
        <th>Dx Codes</td>
        <th>Site</td>
        <th>Pregnancy</th>
        <th>Temperature</th>
        <th>Clinician</th>
    </tr>
    {% for enc in case.reportable_encounters.0.all %}
    {% if enc not in case.encounters %}
    <tr>
        <td>{{ enc.pk }}</td>
        <td>
            {% for event in enc.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ enc.date }} </td>
        <td>
            {% for i in enc.dx_codes.all %}
                {{ i.code }} {{ i.name }}
                {% if not forloop.last %}
                <br>
                {% endif %}
            {% empty %}
                -
            {% endfor %}
        </td>
        <td>{{ enc.site_name }}</td>
        <td>
            {{ enc.pregnancy_status }}
            {% if enc.pregnancy_status  %}
            <hr>
            EDC: {{enc.edc}}
            {% endif %}
        </td>
        <td>{{ enc.temperature }}</td>
        <td>
            <a href="{% url provider_detail enc.provider.pk %}">
            {{enc.provider.name}}
            </a>
        </td>
    </tr>
     {% endif %}
    {% endfor %}
</table>
{% endif %}

{% if case.reportable_prescriptions.count %}
<h3>
    Related Prescriptions
</h3>
  
<table id="prescriptions">
  
    <tr>
        <th>DB ID #</th>
        <th>Heuristic Event(s)</th>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Route</th>
        <th>Dose</th>
        <th>Frequency</th>
        <th>Quantity</th>
        <th>NDC</th>
        <th>Clinician</th>
    </tr>
     
    {% for rx in case.reportable_prescriptions %}
    	
    	{% if rx not in case.prescriptions %}
    	    	   	
    <tr>
        <td>{{ rx.pk }}</td>
        <td>
            {% for event in rx.events.all %}
            {{ event.name }}
            {% if not forloop.last %}
            <br>
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ rx.date }}</td>
        <td>{{ rx.name }}</td>
        <td>{{ rx.directions }}</td>
        <td>{{ rx.route }}</td>
        <td>{{ rx.dose }}</td>
        <td>{{ rx.frequency }}
        <td>{{ rx.quantity }}</td>
        <td>{{rx.code}}</td>
        <td>
            <a href="{% url provider_detail rx.provider.pk %}">
                {{ rx.provider.name }}
            </a>
        </td>
    </tr>
    	{% endif %}
    {% endfor %}
    
</table>
{% endif %}
{% else %}
<center>
<h2>
<font color="RED">*Warning*: Condition {{ condition }} has no Reportable Configuration. Please configure it under Administration/Site Administration/Conf - Condition Configurations</font>
<br></h2>
</center>
 
{% endif %}


<div id="all_records_wrapper">
<h2>
    All Patient Records
</h2>

<hr>
<div id="all_records_content">
<i>
    <b>Loading...</b>
    <br>(this may take a few minutes)
</i>
</div>

</div>

<h2>Case Status</h2>

{% if history %}
<table id="status_history_table">
	<tr>
		<th>Timestamp</th>
		<th>Old Status</th>
		<th>New Status</th>
		<th>Changed By</th>
		<th>Comment</th>
	</tr>
{% for change in history %}
	<tr>
		<td>{{ change.timestamp }}</td>
		<td>{{ change.get_old_status_display }}</td>
		<td>{{ change.get_new_status_display }}</td>
		<td>{{ change.changed_by }}</td>
		<td>{{ change.comment }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

<p>
<form id="status_form" method="POST" action="{% url nodis_case_update case.pk %}">
	<table>
	{{ status_form.as_table }}
	</table>
	<input type="submit" name="update_status" value="Update status and record comment" />
        {% csrf_token %}
</form>
</p>

<p>&nbsp;</p>

<form id="submit_positive_form" method="POST" action="{% url nodis_case_transmit case.pk %}">
	<input type="submit" id="submit_positive" name="submit_positive" value="True positive case -- TRANSMIT TO HEALTH DEPARTMENT" />
        {% csrf_token %}
</form>

{% endblock %}

